# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore compiled files
*.exe
*.dll

# Ignore macOS system files
.DS_Store

# Ignore IDE or editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore environment-specific files
.env

# Ignore sensitive or configuration files
config.js
secrets.json
